<!DOCTYPE html>
<html>
  <head>
    <title>Workout Buddy</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  </head>
  <body>

  <!-- <div id="nav">
    <% #if current_user %>
      <%#= link_to "Edit Profile", edit_user_path(current_user.id) %> |
      <%#= link_to "Logout", :logout, method: :post %> |
    <%# else %> 
      <%#= link_to "Register", new_user_path %> |
      <%#= link_to "Login", :login %> |
    <%# end %>
    <%#= link_to 'Chest Workout', new_chest_result_path %> |
    <%#= link_to 'Back Workout', new_back_result_path %> |
    <%#= link_to 'Legs Workout', new_legs_result_path %>
  </div>
  <div>
    <p id#="notice"><%#= flash[:notice] %></p>
    <p id="alert"><%#= flash[:alert] %></p>
  </div> -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">Home</a> -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', :users %>
          <% if current_user %>
            <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
            <li><%= link_to "Logout", :logout, method: :post %></li>
          <% else %> 
            <li><%= link_to "Register", new_user_path %></li>
            <li><%= link_to "Login", :login %></li>
          <% end %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Workouts<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Chest Workout', new_chest_result_path %></li>
              <li><%= link_to 'Back Workout', new_back_result_path %></li>
              <li><%= link_to 'Legs Workout', new_legs_result_path %></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <%= yield %>

  </body>
</html>
